<%- include("../partition/header.ejs")  %>

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blog" class="active">Blogs</a></li>
                            <li><a href="/admin/category">Categories</a></li>
                            <li><a href="/admin/contact_display">Contact</a></li>
                            <li><a href="/admin/about">About</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>Blogs</h1>
                            </div>
                            <div class="dash-nav">
                                <a href="/create_image" class="btn btn-success">Add Post</a>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>#ID</th>
                                <th>Image</th>
                                <th>Title</th>
                                <!-- <th>Category</th> -->
                                <th>Posted On</th>
                                <th>Action</th>
                            </tr>
                            <% var id=1 %>
                           <% data.forEach((item)=>{ %>
                            <tr>
                                <td><%= id++ %></td> 
                                <td>
                                    <img src="/upload/<%= item.image %>" alt="">
                                </td>
                                <td><%= item.title %></td>
                                <!-- <td><%= item.category_name %></td> -->
                                <td><%= item.createdAt.toLocaleDateString() %></td>
                                <td>
                                    <a href="/image_edit/<%= item._id %>" class="btn btn-info btn-sm">Edit</a>
                                    <a href="/image_delete/<%= item._id %>" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        <%   }) %>
                            
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>


<%- include("../partition/footer.ejs")  %>