<%- include("../../partition/header.ejs")  %>

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blog_display">Blogs</a></li>
                            <li><a href="/admin/category">Categories</a></li>
                            <li><a href="/admin/contact_display">Contact</a></li>
                            <li><a href="/admin/about">About</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>Contacts</h1>
                            </div>
                            
                            <div class="dash-nav">
                                <a href="/admin/contact" class="btn btn-success">Add Contact</a>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>ID</th>
                                
                                <th>Name</td>
                                <th>E-mail</td>
                                <th>Phone</td>
                                <th>Message</td>
                                <th>Action</td>
                            </tr>
                            <% var id=1 %>
                           <% data.forEach((item)=>{ %>    
                            <tr>
                                <td><%= id++ %></td>
                                <td><%= item.name %></td>
                                <td><%= item.email %></td>
                                <td><%= item.phone %></td>
                                <td><%= item.message %></td>
                                <td>
                                    <a href="/admin/contact_edit/<%= item._id %>" class="btn btn-info btn-sm">Edit</a>
                                    <a href="/admin/contact_delete/<%= item._id %>" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        
                            <% }) %>  
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>


<%- include("../../partition/footer.ejs")  %>